.git
node_modules
**/node_modules
**/.output
**/dist
**/data
.tmp
**/.tmp
coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report
.env
.env.*
**/.env
**/.env.*
.DS_Store
**/.DS_Store
